.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  background-color: lightgreen !important;
  height: 100vh;
  margin-bottom: 0rem !important;
  display: flex;
  flex-direction: column;
}

.biogram {
  width: 300px;
  height: fit-content;
}

.biogram-container {
  background-color: salmon !important;
  height: 100vh;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container.hero-container {
  width: 600px;
}

.title-container {
  justify-content: center !important;
}

.request-meeting-container {
  display:flex;
  justify-content:center;
  align-items:center;
}

.title {
   text-align: center;
}

.stand-location {
   text-align: center;
}

.arrow-down-container {
  text-align: center;
  margin-top: 100px;
}